<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Yoga</title>
    <link rel="stylesheet" type="text/css" href="__B__/css/bootstrap.min.css" />
    <script src="__B__/js/jquery-2.2.4.min.js"></script>

    <style>
        .yoga {
            height: 100%;
            margin: 100px 30px 0 30px;
            border: 1px solid black;
            padding: 50px;
        }
    </style>

</head>

<body>
    <div class="container-fluid">

        <div class="yoga">
            <div class="form-group">
                <input class="form-control">
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr align="center">
                        <td>时段</td>
                        <td>星期一</td>
                        <td>星期二</td>
                        <td>星期三</td>
                        <td>星期三</td>
                        <td>星期五</td>
                        <td>星期六</td>
                        <td>星期日</td>
                    </tr>
                    <tr align="center">
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr align="center">
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr align="center">
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                </table>
            </div>
            <div>
                
            </div>

        </div>

    </div>
</body>


<script src="__B__/js/bootstrap.min.js"></script>

</html>