<body>
    <!--PRELOADER-->
    <div id="preloader">
        <div id="status">
            <img alt="logo" src="__INDEX__/images/logo-big.png">
        </div>
    </div>
    <!--/.PRELOADER END-->

    <!--HEADER -->
    <div class="header">
        <div class="for-sticky">
            <!--LOGO-->
            <div class="col-md-2 col-xs-6 logo">
                <a href="{:url('index')}"><img alt="logo" class="logo-nav" src="__INDEX__/images/logo.png"></a>
            </div>
            <!--/.LOGO END-->
        </div>
        <div class="menu-wrap">
            <nav class="menu">
                <div class="menu-list">
                    <a href="{:url('index')}">
                        <span>Home</span>
                    </a>
                    <a href="{:url('work.index')}">
                        <span>Work</span>
                    </a>
                    <a href="{:url('service.index')}">
                        <span>Services</span>
                    </a>
                    <a href="{:url('employement.index')}">
                        <span>Employement</span>
                    </a>
                    <a href="{:url('blog.index')}">
                        <span>Blog</span>
                    </a>
                    <a href="{:url('education.index')}">
                        <span>Education</span>
                    </a>
                </div>
            </nav>
            <button class="close-button" id="close-button">Close Menu</button>
        </div>
        <button class="menu-button" id="open-button">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <!--/.for-sticky-->
    </div>
    <!--/.HEADER END-->
    <!--CONTENT WRAP-->
    <div class="content-wrap">
        <!--CONTENT-->
        <div class="content">
            <!--HOME-->
            <section id="home">
                <div class="container">
                    <div class="row">
                        <div class="wrap-hero-content">
                            <div class="hero-content">
                                <h1>Hello</h1>
                                <br>
                                <span class="typed"></span>
                            </div>
                        </div>
                        <div class="mouse-icon margin-20">
                            <div class="scroll"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/.HOME END-->